<!DOCTYPE html>
<html>
<head>
  <title>Edition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Raleway:400,200,700' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>  
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

   <script type="text/javascript">
      Caman.DEBUG = true
    </script>
</head>
<body>

<%= yield %>

</body>
</html>

